/* Font */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

/* Genaral */
body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Dots', cursive;
    background-color: black;
    position: relative;
}

/* All Things Edits */
* {
    font-family: 'Zen Dots', cursive;
}

::selection {
    color: red;
    background-color: black;
}


/* Main */
#header {
    height: 90px;
    width: 1350px;
    background-color: rgb(20, 10, 10);
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

#header .container {
    /* height: 50px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #header .container>div {
    /* display: inline-block; */


/* title */
.title {
    margin-left: 20px;
}

/* title details */
.title .tcontainer {
    display: inline-flex;
    align-items: center;
}

.tcontainer h1 {

    font-size: 35px;
    text-shadow: 2px 2px red;
}



/* Seacrh details */
.search {
    height: 42px;
    width: 300px;
    background-color: red;
    margin-left: 90px;
    margin-bottom: 5px;
    border-radius: 10px;
}



.scontainer {
    /* background-color: aqua; */
    /* height: 50px; */
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.scontainer img {
    width: 30px;
    margin-top: 5px;
    margin-left: 8px;
}

.scontainer svg {
    color: white;
}

/* INPUT EDITS */
.sinput {
    margin-left: 20px;
}

.sinput input {
    width: 230px;
    background-color: red;
    border: 1px;
    outline: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.sinput input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: 600;
    opacity: 85%;
}

/* Profile (User) */
.profile {
    width: 100px;
    position: relative;
    /* background-color: royalblue; */
}

.pcontainer {
    display: flex;
    justify-content: center;
}

.pcontainer img {
    width: 50px;
    /* color: aqua; */
    /* margin-right: 5px; */
}


/* Profile Edits (HOVER & REGISTER FORM) */
.sign {
    height: 75px;
    width: 100px;
    background-color: rgb(20, 8, 8);
    position: absolute;
    top: 50px;
    right: 38px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    visibility: hidden;
    transition: 0.5s;
}

.profile:hover .sign {
    opacity: 1;
    visibility: visible;
}

.sign a {
    text-decoration: none;
    color: black;
    text-shadow: 2px 2px red;
}

/* add note div (POSITION) */
.add {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 12.5px;
    top: 550px;
}

.add p {
    font-size: 35px;
    text-shadow: 2px 2px rgb(81, 10, 10);
}

.add:hover {
    cursor: pointer;
}